In [169]:
### python 3.6

### to do:
#1 load data
#2 clean data
#3 train
#4 evaluate
#5 feature selection & reevaluation

In [172]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score
import itertools

In [173]:
#1 load data
# read CSV file
transactions_raw = pd.read_csv('Transaction_Classification.csv', delimiter = ";")

In [174]:
#2 clean data
# get some overview
transactions_raw.info()
# some null values exist

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         209 non-null    int64
 1   Auftragskonto                      168 non-null    float64
 2   Buchungstag                        209 non-null    object
 3   Valutadatum                        209 non-null    object
 4   Buchungstext                       209 non-null    object
 5   Verwendungszweck                   209 non-null    object
 6   Beguenstigter/Zahlungspflichtiger  209 non-null    object
 7   Kontonummer                        208 non-null    object
 8   BLZ                                208 non-null    object
 9   Betrag                             209 non-null    object
 10  Waehrung                           209 non-null    object
 11  label                              209 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 19.7+ KB

In [175]:
transactions_raw.head()
# todo: check wheather waehrung always is EUR, is buchungstag always equal to valutadatum?

,Unnamed: 0,Auftragskonto,Buchungstag,Valutadatum,Buchungstext,Verwendungszweck,Beguenstigter/Zahlungspflichtiger,Kontonummer,BLZ,Betrag,Waehrung,label
0,0,89990201.0,28.07.2016,28.07.2016,Lohn / Gehalt,Gehalt Adorsys GmbH & Co. KG End-To-End-Ref.: ...,Adorsys GmbH & Co. KG,7807800780,25190001,2000.00,EUR,income
1,1,89990201.0,27.07.2016,27.07.2016,Miete,Byladem1Sbt De12773501123456789889 Miete Beuth...,Georg Tasche,DE31251900019123456780,VOHADE2HXXX,-670.00,EUR,living
2,2,89990201.0,21.07.2016,21.07.2016,Bargeld,"21.07/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur...",Bargeld,9999900780,25190001,-70.00,EUR,private
3,3,89990201.0,20.07.2016,20.07.2016,Lebensmittel / Getraenke,2831 Edeka Neubauer Nuernb.//Nuernb 2016-07-20...,Kartenzahlung,9736000780,25190001,-73.21,EUR,standardOfLiving
4,4,89990201.0,18.07.2016,18.07.2016,Spontanausgabe,Amazon,neue Playstation,9988776655,25125100,-363,EUR,leisure

In [176]:
# look at distribution of classes
transactions_raw["label"].value_counts()
# class imbalance

leisure             65
standardOfLiving    47
finance             33
living              26
private             21
income              17
Name: label, dtype: int64

In [177]:
# look at unique values ofattributes
for columnName, columnData in transactions_raw.iteritems():
    print(columnName)
    print(columnData.unique())

Unnamed: 0
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208]
Auftragskonto
[89990201. 89990210.       nan]
Buchungstag
['28.07.2016' '27.07.2016' '21.07.2016' '20.07.2016' '18.07.2016'
 '15.07.2016' '08.07.2016' '05.07.2016' '04.07.2016' '01.07.2016'
 '29.06.2016' '28.06.2016' '15.06.2016' '10.06.2016' '08.06.2016'
 '03.06.2016' '02.06.2016' '01.06.2016' '31.05.2016' '30.05.2016'
 '27.05.2016' '18.05.2016' '10.05.2016' '09.05.2016' '04.05.2016'
 '03.05.2016' '28.04.2016' '27.04.2016' '19.04.2016' '15.04.2016'
 '04.04.2016' '30.03.2016' '29.03.2016' '16.03.2016' '15.03.2016'
 '02.03.2016' '26.02.2016' '25.02.2016' '16.02.2016' '15.02.2016'
 '02.02.2016' '28.01.2016' '14.04.2016' '13.04.2016' '12.04.2016'
 '11.04.2016' '06.04.2016' '05.04.2016' '01.04.2016' '31.03.2016'
 '23.03.2016' '22.03.2016' '21.03.2016' '14.03.2016' '11.03.2016'
 '10.03.2016' '09.03.2016' '07.03.2016' '04.03.2016' '03.03.2016'
 '01.03.2016' '29.02.2016' '24.02.2016' '23.02.2016' '22.02.2016'
 '19.02.2016' '11.02.2016' '10.02.2016' '09.02.2016' '08.02.2016'
 '04.02.2016' '03.02.2016' '01.02.2016' '29.01.2016' '27.01.2016'
 '26.01.2016' '25.01.2016' '22.01.2016' '20.01.2016' '19.01.2016'
 '18.01.2016' '15.01.2016' '13.01.2016' '11.01.2016' '08.01.2016']
Valutadatum
['28.07.2016' '27.07.2016' '21.07.2016' '20.07.2016' '18.07.2016'
 '15.07.2016' '08.07.2016' '05.07.2016' '04.07.2016' '01.07.2016'
 '29.06.2016' '28.06.2016' '15.06.2016' '10.06.2016' '08.06.2016'
 '03.06.2016' '02.06.2016' '01.06.2016' '31.05.2016' '30.05.2016'
 '27.05.2016' '18.05.2016' '10.05.2016' '09.05.2016' '04.05.2016'
 '03.05.2016' '28.04.2016' '27.04.2016' '19.04.2016' '15.04.2016'
 '04.04.2016' '30.03.2016' '29.03.2016' '16.03.2016' '15.03.2016'
 '02.03.2016' '26.02.2016' '25.02.2016' '16.02.2016' '15.02.2016'
 '02.02.2016' '28.01.2016' '14.04.2016' '13.04.2016' '12.04.2016'
 '11.04.2016' '06.04.2016' '05.04.2016' '01.04.2016' '31.03.2016'
 '23.03.2016' '22.03.2016' '21.03.2016' '14.03.2016' '11.03.2016'
 '10.03.2016' '09.03.2016' '07.03.2016' '04.03.2016' '03.03.2016'
 '01.03.2016' '29.02.2016' '24.02.2016' '23.02.2016' '22.02.2016'
 '19.02.2016' '12.02.2016' '10.02.2016' '09.02.2016' '08.02.2016'
 '04.02.2016' '03.02.2016' '01.02.2016' '29.01.2016' '27.01.2016'
 '26.01.2016' '25.01.2016' '22.01.2016' '20.01.2016' '19.01.2016'
 '18.01.2016' '15.01.2016' '13.01.2016' '11.01.2016' '08.01.2016']
Buchungstext
['Lohn / Gehalt' 'Miete' 'Bargeld' 'Lebensmittel / Getraenke'
 'Spontanausgabe' 'Mieteinnahmen' 'Drogerie' 'Geldanlage' 'Gehalt/Rente'
 'Lastschrift (Einzugsermächtigung)' 'Dauerauftrag' 'Abschluss'
 'Euro-Überweisung' 'Euroscheck / Gaa-Belastung Ausland']
Verwendungszweck
['Gehalt Adorsys GmbH & Co. KG End-To-End-Ref.: Notprovided Kundenreferenz: Nsct1603300013660000000000000000001 Gutschrift'
 'Byladem1Sbt De12773501123456789889 Miete Beuthener Str. 25 End-To-End-Ref.: Notprovided Dauerauftrag Dauerauftrag'
 '21.07/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur 0,00 Einzahlung/Auszahlung Ga Nr55508568 Blz76010085 9'
 '2831 Edeka Neubauer Nuernb.//Nuernb 2016-07-20T17:54:45 Kfn 9 Vj 1612 Lastschrift'
 'Amazon'
 'Mietzuschuss End-To-End-Ref.: Notprovided Kundenreferenz: Nsct1603080001510000000000000000006 Gutschrift'
 '2831 Edeka Neubauer Nuernb.//Nuernb 2016-05-09T17:54:45 Kfn 9 Vj 1612 Lastschrift'
 'Dm Fil.1137 H:65128//Nuernberg/De 2 016-04-19T17:03:43Folgenr.001 Verf Alld.2020 -12'
 'Ccbade31Xxx De71310108339900123456 Sparen End-To-End-Ref.: Notprovided Dauerauftrag Dauerauftrag'
 '16.02/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur 0,00 Einzahlung/Auszahlung Ga Nr55508568 Blz76010085 9'
 '2831 Edeka Neubauer Nuernb.//Nuernb 2016-05-10T17:54:45 Kfn 9 Vj 1612 Lastschrift'
 'Dm Fil.1137 H:65128//Nuernberg/De 2 016-02-16T17:03:43Folgenr.001 Verf Alld.2020 -12'
 '2831 Edeka Neubauer Nuernb.//Nuernb 2016-05-04T17:54:45 Kfn 9 Vj 1612 Lastschrift'
 '2831 Edeka Neubauer Nuernb.//Nuernb 2016-06-02T17:54:45 Kfn 9 Vj 1612 Lastschrift'
 'Dm Fil.1137 H:65128//Nuernberg/De 2 016-06-01T17:03:43Folgenr.001 Verf Alld.2020 -12'
 '01.06/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur 0,00 Einzahlung/Auszahlung Ga Nr55508568 Blz76010085 9'
 'Ssknde77Xxx De41760501010012345675 Einmalsparen End-To-End-Ref.: Ccb.91.Ue.162146 Ueberweisung'
 '19.04/16.34Uhr Nuernberg All Eur 70,00 Geb.Eur 0,00 Einzahlung/Auszahlung Ga Nr55508568 Blz76010085 9'
 'Spdude68Xxx De41760501010012345675 Einmalsparen End-To-End-Ref.: Ccb.91.Ue.162146 Ueberweisung'
 '2831 Edeka Neubauer Nuernb.//Nuernb 2016-03-15T17:54:45 Kfn 9 Vj 1612 Lastschrift'
 'Gehalt Adorsys GmbH & Co. KG' 'Bears + Friends Gmb/Verfa Lld.2016-12'
 'Verfa Lld.2016-12' 'Pulsnitz'
 'Elv56006915 08.04 15.35 Me1Rewe Sa Gt Danke. 46400517'
 'Tk Maxx Nuernberg//Nuernberg/De 201 6-04-02T13:52:08 Folgenr.001 Verfal Ld.2020-12'
 'Visa62185021800-279-6620 535,00Eur0,0000000000 31.03. 0,00 10355999'
 'Bears + Friends Gmb//Pulsnitz/De 20 16-01-02T14:18:06 Folgenr.000 Verfa Lld.2016-12'
 'Visa6218502106060876 20,00Eur0,0000000000 04.04. 20,00 10316011'
 'Abonnement Kd-Nr. 5104489.'
 'Elv56006915 04.04 15.35 Me1Rewe Sa Gt Danke. 46400517'
 'Visa62185021Senningerberg 24,30Eur0,0000000000 01.04. 0,00 10355499'
 'Visa62185021800-279-6620 3,84Eur0,0000000000 31.03. 0,00 10355999'
 'Visa62185021800-279-6620 12,99Eur0,0000000000 30.03. 0,00 10355942'
 'Haushalt' 'Urlaub'
 'Abschlag Strom 04/16 Vk: 122721405 Gruenstrom Classic' 'Abschluss'
 'Bp1821187056/3814' 'Sparen' 'Miete'
 'Visa6218502106060876 50,00Eur0,0000000000 25.03. 50,00 10316011'
 'Aramark Gmbh//Nuernberg/De 2016-03- 24T12:30:12 Folgenr.001 Verfalld.20 20-12'
 '230320211004393201252017040Elv6520 1704 23.03 20.21 M E1'
 'Visa62185021800-279-6620 535,00Eur0,0000000000 21.03. 0,00 10355999'
 'Elv56006915 21.03 16.10 Me1Rewe Sa Gt Danke. 46400517'
 'Kd-Nr. K358853507/ Rg-Nr. 150257651 551'
 'Dm Fil.1137 H:65128//Nuernberg/De 2 016-03-19T17:03:43Folgenr.001 Verf Alld.2020 -12'
 'Celona Nuernberg//Nuernberg/De 2016 -03-19T15:22:52 Folgenr.001 Verfall D.2020-12'
 'Visa6218502106060876 100,00Eur0,0000000000 17.03. 100,00 10316011'
 'Visa62185021800-279-6620 33,73Eur0,0000000000 14.03. 0,00 10355999'
 'Aramark Gmbh//Nuernberg/De 2016-03- 14T12:04:36 Folgenr.001 Verfalld.20 20-12'
 'Elv56006914 12.03 19.42 Me1Rewe Sa Gt Danke. 46400517'
 'Abschlag Gas 03/16 Vk: 220200215414' 'Elv66021447 12.03 17.30 Me11'
 'California//Nuernberg/De 2016-03-12 T19:04:55 Folgenr.001 Verfalld.2020 -12'
 'Visa6218502106060876 40,00Eur0,0000000000 09.03. 40,00 10316011'
 'Esso Deutschland Gmbh//Nuernberg/De 2016-03-09T07:04:35 Folgenr.001 Ve Rfalld.2020-12'
 'Geschenk Doris'
 '04032016 350193 Horst Dietrich 8324 2 Reit Im Winkl Ref'
 'Intersport Rent//Reit Im Winkl/De 2 016-03-05T09:57:27Folgenr.001 Verf Alld.2020 -12'
 'Interne Umbuchung'
 'Aramark Gmbh//Nuernberg/De 2016-03- 03T12:33:04 Folgenr.001 Verfalld.20 20-12'
 'Rse Gastro Gmbh//Roethenbach/De 201 6-03-02T22:02:20 Folgenr.001 Verfal Ld.2020-12'
 'Elv56006915 01.03 19.54 Me1Rewe Sa Gt Danke. 46400517'
 'Visa6218502106060876 20,00Eur0,0000000000 29.02. 20,00 10316011'
 'Visa62185021800-279-6620 52,42Eur0,0000000000 27.02. 0,00 10355999'
 'Visa62185021Amazon.De 7,54Eur0,0000000000 26.02. 0,00 10355969'
 'Abschlag Strom 03/16 Vk: 122721405 Gruenstrom Classic'
 'Omv Nuernberg 7540//Nuernberg/De 20 16-02-26T15:17:34 Folgenr.001 Verfa Lld.2020-12'
 'Mango Nuremberg Karolinen//Nuernber G/De/0 2016-02-27T10:39:17 Folgenr. 001 Verfalld.2099-12'
 'Nuernberg Ticket Gmbh Im U1//Nuernb Erg/De 2016-02-27T11:14:18 Folgenr. 001 Verfalld.2020-12'
 'Dm Fil.2103 H:65214//Nuernberg/De 2 016-02-27T11:43:26Folgenr.001 Verf Alld.2020 -12'
 'Elv56006915 25.02 19.51 Me1Rewe Sa Gt Danke. 46400517'
 'Visa62185021Rathaus 50,00Eur0,0000000000 23.02. 50,00 10316011'
 'Visa62185021800-279-6620 26,30Eur0,0000000000 23.02. 0,00 10355999'
 'Elv56006915 23.02 11.59 Me1Rewe Sa Gt Danke. 46400517'
 'Visa62185021Amazon.De 7,99Eur0,0000000000 22.02. 0,00 10355969'
 'Visa62185021Amazon.De 6,73Eur0,0000000000 22.02. 0,00 10355969'
 'Visa62185021800-279-6620 10,00Eur0,0000000000 21.02. 0,00 10355999'
 'Gries Deco Company//Nuernberg/De 20 16-02-20T15:32:51 Folgenr.001 Verfa Lld.2020-12'
 'Ultra-Comix Gmbh//Nuernberg/De 2016 -02-20T17:35:28 Folgenr.001 Verfall D.2020-12'
 'Kd-Nr. K358853507/ Rg-Nr. 150251073 317'
 'Skyline Gaststaette//Nuernberg/De 2 016-02-18T21:33:58Folgenr.001 Verf Alld.2020 -12'
 'Visa62185021Schnieglin 140,00Eur0,0000000000 13.02. 140,00 10316011'
 'Visa62185021Amazon.De/Bil 35,99Eur0,0000000000 14.02. 0,00 10355735'
 'Visa6218502106060876 10,00Eur0,0000000000 14.02. 10,00 10316011'
 'Fuerthermare//Fuerth/De 2016-02-13T 14:35:00 Folgenr.001 Verfalld.2020- 12'
 'Abschlag Gas 02/16 Vk: 220200215414'
 'Rundfunk 01.2016 - 03.2016 Beitrags Nr. 574704817 Aenderungen Ganz Bequ Em: Www.Rundfunkbeitrag.De'
 '1,01E+13'
 'Visa6218502106060876 40,00Eur0,0000000000 08.02. 40,00 10316011'
 'Strom Re: 330000099057 Vk: 12272140 5 Gruenstrom Classic'
 'Cafe Bistro Seon//Nuernberg/De 2016 -02-05T23:01:11 Folgenr.001 Verfall D.2020-12'
 'Visa6218502106060876 40,00Eur0,0000000000 04.02. 40,00 10316011'
 'Lombagine'
 'Apotheke Sebalder H//Nuernberg/De 2 016-02-03T16:48:07Folgenr.001 Verf Alld.2020 -12'
 '161080109883418 34439927 / Ts:65354 05 Travelsecure -Auslandsrei Sekr Ankenvers Icherung - 31.01.16-31.01. 17 33,00'
 '303-7483141-2001136 Amazon .Mktplce Eu-De 0164378887929309'
 '303-0580631-8794708 Amazon .Mktplce Eu-De 2411354884929964'
 'Aramark Gmbh//Nuernberg/De 2016-02- 01T11:55:14 Folgenr.001 Verfalld.20 20-12'
 'Esso Deutschland Gmbh//Nuernberg/De 2016-02-01T06:57:22 Folgenr.001 Ve Rfalld.2020-12'
 '10103084736793Zalando'
 '303-0084632-5339566 Amazon .Mktplce Eu-De 2410573888643087'
 'Elv56006917 30.01 15.37 Me1Rewe Sa Gt Danke. 46400517'
 '303-4488385-6169917 Amazon .Mktplce Eu-De 1637782719640441'
 'Vero Moda Nuernberg//Nuernberg/De 2 016-01-30T14:25:54Folgenr.001 Verf Alld.2020 -12'
 'Elv56006916 28.01 19.12 Me1Rewe Sa Gt Danke. 46400517'
 'Elv56006915 25.01 16.54 Me1Rewe Sa Gt Danke. 46400517'
 'Visa62185021Nbg-Koestr 30,00Eur0,0000000000 21.01. 30,00 10316011'
 'N-Style//Nurnberg/De 2016-01-23T11: 32:13 Folgenr.001 Verfalld.2020-12'
 'Humanic//Nuernber/De 2016-01-23T13: 23:17 Folgenr.001 Verfalld.2020-12'
 'Euro-Überweisung'
 'Visa6218502106060876 20,00Eur0,0000000000 19.01. 20,00 10316011'
 'Visa62185013800-279-6620 19,95Eur0,0000000000 18.01. 0,00 10355999'
 'Visa62185013800-279-6620 12,80Eur0,0000000000 18.01. 0,00 10355999'
 'Kd-Nr. K358853507/ Rg-Nr. 150244534 116'
 'Visa62185013Nuernberg 70,00Eur0,0000000000 16.01. 0,00 10355311'
 'Visa62185013Nuernberg 50,00Eur0,0000000000 16.01. 50,00 10316011'
 'Visa62185013Amazon.De 9,99Eur0,0000000000 15.01. 0,00 10355969'
 'Visa6218501306060876 40,00Eur0,0000000000 14.01. 40,00 10316011'
 'Visa6218501306060876 30,00Eur0,0000000000 13.01. 30,00 10316011'
 'Visa6218501306060876 20,00Eur0,0000000000 11.01. 20,00 10316011'
 'Gas Re: 320000042615 Vk: 2202002154 14'
 'Visa6218501306060876 20,00Eur0,0000000000 07.01. 20,00 10316011']
Beguenstigter/Zahlungspflichtiger
['Adorsys GmbH & Co. KG' 'Georg Tasche' 'Bargeld' 'Kartenzahlung'
 'neue Playstation' 'Isabel Anna' 'Dm Drogeriemarkt Sagt Danke'
 'Michael Koffer' 'Christina Jung' 'Friends' 'Bears' 'Gmb'
 'Rewe Nuernberg Aeu' 'Tk Maxx Nürnberg' 'Amazon De Marketplace'
 'Bears + Friends Gmb' 'Bankhaus August Lenz Atm' 'Vag' 'Foodora'
 'Anna Fein, Lucas Fein' 'Anna Fein' 'Stromio Gmbh' 'Abschluss'
 'Billpay Gmbh' 'Lucas Fein' 'Aramark Gmbh I.Hs. Teambank'
 'Sushi Glas Gastronomie Gmbh' '1U1 Telecom Gmbh'
 'Cafe + Bar Celona Nuernberg' 'E Wie Einfach Gmbh'
 'H+M 798 Sagt Vielen Dank' 'California' 'Esso Deutschland Gmbh'
 'Hobex Ag' 'Intersport Rent' 'Rse Gastro Gmbh' 'Amazon Eu'
 'Omv Deutschland Gmbh' 'Issuer' 'Lastschrift Aus Kartenzahlung'
 'Sparkasse Nuernberg' 'Gries Deco Company' 'Ultra-Comix Gmbh'
 'Skyline Gastst.+Veranst.' 'Amazon Digital Video' 'Fuerthermare'
 'Ard Zdf Dradio Beitragsservice' 'Zalando Se' 'Cafe Seon Dankt'
 'Sarah M¸ller' 'Apotheke Sebalder Hoefe' 'Wuerzburger Versicherungs-Ag'
 'Amazon Payments Europe S.C.A.' '69 Vero Moda Nuernberg City'
 'Vr Bank Nuernberg Eg' 'N-Style' 'Humanic' 'Breuninger Gmbh & Co.'
 '*Deutsche Bank Ag']
Kontonummer
['7807800780' 'DE31251900019123456780' '9999900780' '9736000780'
 '9988776655' 'DE31251900019736000780' '7755566780'
 'DE69790800529736000780' 'DE31251900019736333780'
 'DE74760320009460000022' 'DE40750500000030909966'
 'DE40750500000030909977' 'DE40750500000030909999'
 'DE56500101111932685105' 'DE38300800000245238803' '922904916'
 'DE40750500000030909980' 'DE89760501010001011500'
 'DE60760300800230188170' 'DE51760300800843688500'
 'DE75550104000414135389' nan 'DE87100500006000036211'
 'DE31701100883254400704' 'DE34760606180001954970'
 'DE70500202000015003825' 'DE52300500000001484112'
 'DE97500400000589011600' 'DE88600501017402099997'
 'DE54760501010005177019' 'DE30370700600177252400'
 'DE62200400000244890003' 'DE86300500000001052141'
 'DE25200800000930401000' 'DE91740201000008119083'
 'DE24710520500000355073' 'DE71500400000600178805'
 'DE46743200730005403626' 'DE66760300800210438280'
 'DE29370100500555615500' 'DE13700202700654198462'
 'DE52664926000014134905' 'DE90793301110000410638'
 'DE86762500000009899576' 'DE28700500000002024100'
 'DE86210700200123010101' 'DE31760400610535961700'
 'DE89500105175404143976' 'DE69120300000011090065'
 'DE03790700160037800000' 'DE87300308801908262006'
 'DE38215400600211037700' 'DE94721500000053303830'
 'DE35760100850024668858']
BLZ
['25190001' 'VOHADE2HXXX' '25125100' 'DRESDEFF790' 'TEAMDE71'
 'BYLADEM1RGG' 'BYLADEM1RBB' 'BYLADEM1RGB' 'ESSEDE5F' 'DRESDEFF300'
 '76030080' 'BYLADEM1RBG' 'SSKNDE77' 'CSDBDE71XXX' 'AARBDE5WDOM' nan
 'BELADEBEXXX' 'PBNKDEFFXXX' 'GENODEF1N02' 'BHFBDEFF500' 'WELADEDD'
 'COBADEFF' 'SOLADEST600' 'DEUTDEDK' 'DRESDEFF200' 'RZOODE77'
 'BYLADEM1TST' 'HYVEDEMM433' 'CSDBDE71' 'PBNKDEFF' 'HYVEDEMM'
 'GENODE61APP' 'FLESDEMM' 'BYLADEM1SFU' 'BYLADEMM' 'DEUTDEHH210'
 'INGDDEFFXXX' 'BYLADEM1001' 'DEUTDEMM790' 'TUBDDEDD' 'BYLADEM1ING']
Betrag
['2000.00' '-670.00' '-70.00' '-73.21' '-363' '200.00' '-19.99' '-28.85'
 '-300.00' '-50.00' '-25.99' '-10.00' '-250.00' '-100.00' '-1000.00'
 '-4000.00' '1792,73' '-5000' '-500' '-50' '-440,3' '-89,99' '-535' '-5'
 '-20' '-51,2' '-12,99' '-24,3' '-3,84' '-100' '-110' '-32' '60,04'
 '-158,9' '-412,16' '-30' '-22,77' '-24,99' '-28,85' '-33,73' '-22,57'
 '-46' '-82,96' '-24' '-40' '-26,02' '100' '-67,8' '-18' '-1000' '-37'
 '-9,75' '-52,42' '-7,54' '-15,99' '-165,7' '-5,45' '-10,42' '2986,24'
 '-26,3' '-37,19' '-7,99' '-6,73' '-10' '-12,97' '-19,95' '-140' '-35,99'
 '-25' '-52,5' '-113,4' '161,7' '-34' '-103,8' '-7,17' '-33' '-13,7'
 '-20,85' '-40,6' '5' '-17,93' '-13,87' '-6,96' '-34,95' '-22,64' '-17,94'
 '-89,95' '-39,95' '-24,95' '50' '-12,8' '-70' '-9,99' '275,98']
Waehrung
['EUR']
label
['income' 'living' 'private' 'standardOfLiving' 'leisure' 'finance']

In [178]:
# remove währung as there is only one value
# remove original id
transactions = transactions_raw
transactions = transactions.drop(["Waehrung"], axis=1)
transactions = transactions.drop(["Unnamed: 0"], axis=1)

In [179]:
# set nan to "missing" for Auftragskonto to be usable for classifier
transactions['Auftragskonto'].fillna('missing', inplace=True)

# delete two rows with missing values, maybe leave later in case Kontonummer or BLZ will be removed completely
transactions = transactions.dropna()
transactions.reset_index(drop=True)
transactions.isnull().sum()
# all missing values dealt with

Auftragskonto                        0
Buchungstag                          0
Valutadatum                          0
Buchungstext                         0
Verwendungszweck                     0
Beguenstigter/Zahlungspflichtiger    0
Kontonummer                          0
BLZ                                  0
Betrag                               0
label                                0
dtype: int64

In [180]:
# check if Valuta and Buchungsdatum are always equal
buchungstag = transactions[['Buchungstag']]
buchungstag.reset_index(drop=True, inplace=True)
valutadatum = transactions[['Valutadatum']]
valutadatum.reset_index(drop=True, inplace=True)

for i in range (buchungstag.size):
    if buchungstag.loc[i, "Buchungstag"] != valutadatum.loc[i, "Valutadatum"]:
        print("difference:", i,buchungstag.loc[i, "Buchungstag"], valutadatum.loc[i, "Valutadatum"])
# since they only differ in one of over 200 cases, one of them can be disregarded quite safely
transactions= transactions.drop(["Valutadatum"], axis=1)

difference: 124 11.02.2016 12.02.2016

In [168]:

model = GaussianNB()
classes = transactions[["label"]].values.ravel()
features_all = ['Auftragskonto', 'Buchungstag','Buchungstext', 'Verwendungszweck', 'Beguenstigter/Zahlungspflichtiger','Kontonummer', 'BLZ', 'Betrag']
features_selection = []

for i in range(1, len(features_all)+1):
    combinations = list(itertools.combinations(features_all, i))
    max_score = 0
    for j in range(len(combinations)):
        features_selection = list(combinations[j])
        counts = pd.get_dummies(transactions[features_selection])
        scores = cross_val_score(model, counts, classes, cv=17, scoring ="accuracy")  #cv = 50 in summary
        mean_score = scores.mean()
        #print(features_selection)
        #print(j, mean_score)
        #print("j",j)
        if mean_score > max_score:
             max_score = mean_score
             best_feature_selection = features_selection
    print("max score for",i, "attribute(s) is:", max_score)
    print("features selected:" ,best_feature_selection)
    print()

if i == len(features_all):
    print("all feature combinations evaluated")

max score for 1 attribute(s) is: 0.8642533936651584
features selected: ['Beguenstigter/Zahlungspflichtiger']

max score for 2 attribute(s) is: 0.9321266968325792
features selected: ['Beguenstigter/Zahlungspflichtiger', 'BLZ']

max score for 3 attribute(s) is: 0.941553544494721
features selected: ['Beguenstigter/Zahlungspflichtiger', 'BLZ', 'Betrag']

max score for 4 attribute(s) is: 0.9513574660633485
features selected: ['Auftragskonto', 'Beguenstigter/Zahlungspflichtiger', 'BLZ', 'Betrag']

max score for 5 attribute(s) is: 0.9513574660633485
features selected: ['Auftragskonto', 'Buchungstext', 'Beguenstigter/Zahlungspflichtiger', 'BLZ', 'Betrag']

max score for 6 attribute(s) is: 0.9513574660633485
features selected: ['Auftragskonto', 'Buchungstext', 'Verwendungszweck', 'Beguenstigter/Zahlungspflichtiger', 'BLZ', 'Betrag']

max score for 7 attribute(s) is: 0.9513574660633485
features selected: ['Auftragskonto', 'Buchungstext', 'Verwendungszweck', 'Beguenstigter/Zahlungspflichtiger', 'Kontonummer', 'BLZ', 'Betrag']

max score for 8 attribute(s) is: 0.9219457013574661
features selected: ['Auftragskonto', 'Buchungstag', 'Buchungstext', 'Verwendungszweck', 'Beguenstigter/Zahlungspflichtiger', 'Kontonummer', 'BLZ', 'Betrag']

all feature combinations evaluated

In [188]:
#3 train and #4 evaluate iteratively during cross validation
# set model type
model = GaussianNB()
# selecting features, choose from ['Auftragskonto', 'Buchungstag','Buchungstext', 'Verwendungszweck', 'Beguenstigter/Zahlungspflichtiger','Kontonummer', 'BLZ', 'Betrag']
attr =['Beguenstigter/Zahlungspflichtiger', 'BLZ']


# training data and classes
counts = pd.get_dummies(transactions[attr])
classes = transactions[["label"]].values.ravel()

scores = cross_val_score(model, counts, classes, cv=17, scoring ="accuracy")

# Print the accuracy of each fold:
# print(scores) test

# Print the mean accuracy of all 5 folds
print("mean accuracy:", scores.mean())

mean accuracy: 0.9321266968325792